body {
    background:  url(./img/background.jpg);
    font-size: 20pt;
    font: normal 16pt arial;
    text-align: center;
    align-items: center;
}
header {
    color: white;
}
section {
    background: rgba(54, 54, 54, 0.856);
    width: 500px;
    padding: 15px;
    margin: auto;
    border-radius: 15px;
    text-align: center;
    font-weight: 600;
    color: white;
}
footer {
    color: white;
    font-size: 21pt;
}