body {
    background: rgb(26, 160, 115);
    font-size: 20pt;
    font: normal 16pt arial;
    text-align: center;
}
header {
    color: white;
}
section {
    background: white;
    width: 500px;
    padding: 15px;
    margin: auto;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    text-align: left;
    font-weight: 600;
}
footer {
    color: white;
    font-size: 21pt;
}