* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background:  url(./img/background.jpg);
    background-size: cover;
    height: 100vh;
}
header h1 {
    color: white;
    font: bold 20pt arial;
    text-transform: uppercase;
    padding: 50px;
}
main {
    background: rgba(54, 54, 54, 0.856);
    width: 500px;
    height: 100%;
    border-radius: 10px;
    font-weight: 600;
    font: normal 14pt arial;
    color: white;
}
#dados, #result {
    padding: 20px;
    margin-left: 25%;
}
#dados {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#txti, #txtf, #txtp {
    margin: 20px 0px;
}
#result {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
}
.botao {
    text-align: center;
}
.botao input {
    background-color: coral;
    color: white;
    border: none;
    font: normal 18px arial;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.botao input:hover {
    background-color: chocolate;
    transition: 0.2s;
}
footer {
    color: white;
    font: normal 14pt arial;
    margin: 40px 0px;
}